<%= render 'share/login_modal' %>
<div class="articles">
<% @articles.each do |article| %>
<div class="container">
    <div class="row">
      <div class="col-sm-2 hidden-xs"></div>
      <div class="col-sm-8">
        <div class="media">
          <div class="media-left">
            <a href="<%= article.link_url =%>">
              <img class="media-object" src="<%= article.image_url =%>" alt="" style="width: 180px; height: 120px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= article.title =%></h4>
            <p><%= article.content =%></p>
            <% article.tags.each do |tag| %>
            <%= link_to "#{tag.name}", tag_articles_path(tag.id), class: "btn btn-default btn-sm" =%>
            <% end %>
            <br/>
            <% if logged_in? %>
              <div id="logged-in" data-logged="true"></div>
            <% else %>
              <div id="logged-in" data-logged="false"></div>
            <% end %>
            <% if article.favorites.find_by(user_id: session[:user_id]) %>
              <button class="favorite-link btn btn-default btn-sm form-ajax favorite" data-id="<%= article.id %>">
              <%= fa_icon("heart lg", text: "お気に入り") %>
              </button>
            <% else %>
              <button class="favorite-link btn btn-default btn-sm form-ajax" data-id="<%= article.id %>">
              <%= fa_icon("heart-o lg", text: "お気に入り") %>
              </button>
            <% end %>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-sm-2 hidden-xs"></div>
    </div>    
</div>
<% end %>
</div>
<div class="paginate">
    <%= paginate @articles %>
</div>