<div class="articles">
<% @articles.each do |article| %>
<div class="container">
    <div class="row">
      <div class="col-sm-2 hidden-xs"></div>
      <div class="col-sm-8">
        <div class="media">
          <div class="media-left">
            <a href="<%= article.link_url =%>">
              <img class="media-object" src="<%= article.image_url =%>" alt="" style="width: 180px; height: 120px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= article.title =%></h4>
            <p><%= article.content =%></p>
            <% article.tags.each do |tag| %>
            <%= link_to "#{tag.name}", tag_articles_path(tag.id), class: "btn btn-default btn-sm" =%>
            <% end %>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-sm-2 hidden-xs"></div>
    </div>    
</div>
<% end %>
</div>
<div class="paginate">
    <%= paginate @articles %>
</div>